In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")

In [3]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
X = df[['Age','EstimatedSalary']]
y = df[['Purchased']]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=20)

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
from sklearn.svm import SVC

In [14]:
model_lin = SVC(kernel='linear')
model_lin.fit(X_train_scaled,y_train)
model_lin.score(X_test_scaled,y_test)

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.85

In [15]:
model_poly = SVC(kernel='poly')
model_poly.fit(X_train_scaled,y_train)
model_poly.score(X_test_scaled,y_test)

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9

In [16]:
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,f1_score

In [20]:
confusion_matrix(y_test,model_lin.predict(X_test_scaled))

array([[45,  0],
       [12, 23]], dtype=int64)

In [21]:
accuracy_score(y_test,model_lin.predict(X_test_scaled))

0.85

In [22]:
recall_score(y_test,model_lin.predict(X_test_scaled))

0.6571428571428571

In [23]:
f1_score(y_test,model_lin.predict(X_test_scaled))

0.7931034482758621

In [24]:
precision_score(y_test,model_lin.predict(X_test_scaled))

1.0

In [25]:
confusion_matrix(y_test,model_poly.predict(X_test_scaled))

array([[44,  1],
       [ 7, 28]], dtype=int64)

In [26]:
accuracy_score(y_test,model_poly.predict(X_test_scaled))

0.9

In [27]:
recall_score(y_test,model_poly.predict(X_test_scaled))

0.8

In [28]:
precision_score(y_test,model_poly.predict(X_test_scaled))

0.9655172413793104

In [29]:
f1_score(y_test,model_poly.predict(X_test_scaled))

0.8750000000000001